/* .col-lg-3{
    border: 1px solid red;
} */

/* .row{
    border: 1px solid purple;
} */

#pblogopic{
    height: 120px;
    width: 100%;
}
#ubpic{
    height: 120px;
    width: 100%;
}

#wipeoutbox{
    height: 400px;
    border: 1px solid black;
}

#wipeoutpic{
    height: 100%;
    width: 100%;
    z-index: -1;
    float: left;
}

div[id*='picsection']{
    text-align: center;
    height: 100%;
    border: 1px solid red;
    z-index: 10;
    top: 0;
    left: 0;
}

#picsection1{
    text-align: center;
    height: 100%;
    border: 1px solid red;
    z-index: 1;
    float: left;
    position: relative;
}

#title{
    text-align: center;
}

#wordtitle{
    text-align: center;
}

#wordslocation{
    text-align: center;
    padding: 5%;
    border: 1px solid black;
}

div[id*='box']{
    text-align: center;
}

#winlosemessage{
    font-size: 20px;
}

span[id*='letter']{
    font-size: 50px;
}    

